*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url('img/slider/slider-01.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    right:0px;
    background-color: rgba(0, 0, 0, 0.8);
    /* z-index: 0; */

}
.header .navbar {
    padding:20px 50px;
    position: fixed;
    top:0px;
    right:0px;
    background-color: #111111;
    z-index: 100;
    width: 100%;
}
.header .navbar .bar {
    display: none;
}
.header .navbar .bar i{
    font-size: 25px;
}
.header .navbar .fokir a{
    color: #ff305b;
    font-size: 25px;
    text-decoration: none;
    float: left;
}
.header .navbar ul {
    float: right;
}
.header .navbar ul li{
    display: inline-block;
    margin-right: 10px;
}
.header .navbar ul li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: .8s color ease-in;
}
.header .navbar ul li a:hover{
    color:#ff305b
}
.header .navbar ul li a.active{
    color:#ff305b
}
.clr{
    clear: both;
}
.table {
    width: 100%;
    height: 100%;
    display: table;
}
.center{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.header .table .center h3 {
    color:#fff;
    font-size: 25px;
}
.header .table .center h1{
    color: #ff305b;
    font-size: 60px;
    margin-top: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}
.header .table .center h4{
    color: #fff;
    font-size: 20;
    margin-top:15px;
    letter-spacing: 1px;
    font-weight: 400;
}

.about {
    padding: 80px 150px;
}

.border {
    width: 38%;
    height: 450px;
    position: relative;
    border:8px solid #555555;
    border-radius: 4px;
    float:left;

}

.about .img{
    width:100%;
    height: 450px;
    position: absolute;
    top:20px;
    left:20px;
    border-radius: 4px;
    overflow: hidden;
    }
.about .img img {
        width:100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
.about .img .layer {
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    top:100%;
    left:0;
    transition: .4s all linear;
    
}
.about .img .layer .icon {
    text-align: center;
    position: absolute;
    top:50%;
    width:50%;
    left:25%
}
.about .img .layer .icon i {
    font-size: 20px;
    color:#fff;
    display: inline-block;
    margin-right:15px;

}
.about .img:hover  .layer{
  top:0;
}
.about .text {
   float:right;
    width:60%;
    vertical-align: top;
    padding-left:80px;
}
.about .text span {
    color: #ff305b;
}
.about .text h2{
    color:#555555;
    font-size: 30px;
    margin-bottom: 15px;
}
.clear-fix {
    clear:both;
}
.about .text p {
    color:#555555;
    line-height: 26px;
    font-size: 17px;
    padding-bottom:20px;
    border-bottom: 1.5px dotted #555555;
}
.about .text .info {
    padding: 20px 0px
}
.about .text .info .line {
    margin-bottom: 15px;
}
.about .text .info .line span  {
 color:#555555;
 font-weight: 600;
}
.line h3 {
    font-size: 16px;
    display: inline-block;
    width:44%;
    font-weight: 500;
    vertical-align: top;
    color:#555555
}
.button .btn {
    width:45%;
    display: inline-block;
}
.button button {
    background-color: #ff305b;
    color:#fff;
    /* height: 40px; */
    outline: none;
    border:none;
    border-radius:5px;
    vertical-align: middle;
    padding:12px
}
.button button.btn1{
    margin-right:10px
}
.button button a{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /* line-height: 10px; */
}
.services {
    width:100%;
    height:500px;
    background-color: #eee;
    padding: 5%;
    text-align: center;
    margin-top:50px
}
.services .heading  , .portfolio .heading, .testimonial .heading , .blog .heading, .contact .heading{
    width:100%;
    text-align: center;
}

.services .heading .parent  , .portfolio .heading .parent , .testimonial .heading .parent , .blog .heading .parent , .contact .heading .parent{
    position: relative;
    display: inline-block;
    text-align: center;
}
.services .heading h2 , .portfolio .heading h2 , .testimonial .heading h2, .blog .heading h2, .contact .heading  h2{
    font-size: 35px;
    color:#333333; 
}
.services .heading .parent .first, .portfolio .heading .first , .testimonial .heading .parent .first, .blog .heading .parent .first, .contact .heading .parent .first {
    width: 40%;
    bottom: -20px;  
    right:30%;
    background-color: #ff305b;
    height: 1px;
    position: absolute;
}
.services .heading .parent .second , .portfolio .heading .parent .second , .testimonial .heading .parent .second , .blog .heading .parent .second, .contact .heading .parent .second{
    position: absolute;
    background-color: #ff305b;
    bottom: -26px;
    height: 1px;  
    width: 80%;
    right:10%
    
}
.services .heading .parent .third , .portfolio .heading .parent .third , .testimonial .heading .parent .third , .blog .heading .parent .third, .contact .heading .parent .third{
    position: absolute;
    background-color: #ff305b;
    bottom:-32px;
    height: 1px;
    width:40%;
    right:30%
}
.services .parent-cart {
    margin-top:5%;
    padding:2%;
    margin-right: 10px;
}
.services .cart {
    width:23.75%;
    float: left;
    vertical-align: top;
    text-align: center;
    border-radius: 5px;
    padding: 20px 5px;
    transition: all .3s ease-in;
}
.services .cart i {
    font-size: 40px;
    color:#ff305b;
    margin-bottom: 20px;
    transition: all .3s ease-in;

}
.services .cart h3{
    font-size: 25px;
    margin-bottom:20px;
    color:#393333;
    font-weight: 500;
}

.services .cart p {
    line-height: 23px;
    font-size: 16px;
    color: #555555;
}
.services .cart:hover {
    background-color: #fff;
    box-shadow: 1px 1px 20px rgba(225, 225, 225, 0.582);
}
.services .cart:hover i {
    transform: scale(1.2);
}
.portfolio {
    padding: 5%;
    
}
.portfolio .gellary {
    margin-top: 80px;
    text-align: center;
}
.portfolio .gellary  .buttons{
    text-align: center;
}
.portfolio .gellary  .buttons a{
    text-decoration: none;
    color:#393333;
    font-size: 20px;
    display: inline-block;
    margin-right:20px;
    text-transform: capitalize;
    transition:  .3s color linear;
}
.portfolio .gellary  .buttons a:hover {
    color: #ff305b;
}
.portfolio .gellary .parent-img{
    margin-top:20px;
    padding:1%
}
.portfolio .gellary .img {
    width:30.3%;
   float:left;
    vertical-align: top;
    margin: 10px;
    height: 250px;
    position: relative;

}

.portfolio .gellary .img img {
    width: 100%;
    height: 100%;
    
}
.portfolio .gellary .img .layer {
position: absolute;
width:100%;
height: 100%;
top:0;
right:0;
transition: .3s all linear;
}
.portfolio .gellary .img .layer i {
    position: absolute;
    bottom: 20px;
    right:20px;
    color: #ff305b;
    font-size: 18px;
    opacity: 0;
    transition: .3s all linear;
}
.portfolio .gellary .img:hover .layer{
    background-color: rgba(0, 0, 0, 0.616);
}
.portfolio .gellary .img:hover .layer i{
    opacity: 1;
}
.counter {
    background-color: #eee;
    padding:7%;
    text-align: center;
}
.counter .child{
    width:21%;
    text-align: center;
    float:left;

}
.counter .child i {
    font-size:25px;
    color: #ff305b;
    margin-bottom: 15px;
    display: block;
}
.counter .child h4{
    font-size: 24px;
    color:#393333;
    margin-bottom: 15px;
}
.counter .child p {
    font-size: 18px;
    color:#555555
}
.testimonial {
    padding:50px 80px;
}
.testimonial .heading {
    margin-bottom:100px;

}
.testimonial .text {
    width: 65%;
    margin:auto;
    background-color: #eee;

}
.testimonial .img , .testimonial .opinions{
  float:left;
  
}
.testimonial .img {
    width:26%;
    position: relative;
}
.testimonial .opinions {
    width:65%;
    vertical-align: top;
    padding:5%;
    background: #eee;
    margin-left:-60px
}

.testimonial .opinions h3 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 14px;
    color: #555555;
}
.testimonial i.fa-map {
    font-size:16px;
    color:#555555;
    margin-bottom: 14px;
    margin-right:5px
}
.testimonial .opinions span {
    color:#555555;
    margin-bottom:14px
}
.testimonial .opinions p{
    color:#555555;
    line-height: 22px;
    margin-bottom: 14px;
}
.testimonial .opinions i.fa-star , .testimonial .opinions i.fa-star-o{
    color:#f1c30d;
    font-size: 18px;
}
.testimonial .text .img .layer{
    position: relative;
    background: #ff305b;
    width:100%;
    height: 180px;
    top:0;
    right:0;
    /* border-top-right-radius: 100%; */
    clip-path: polygon(0 0, 100% 0%, 0 99%, 0 100%);
}
.testimonial .text .img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top:25%;
  left:25%;
  z-index: 10;
}
.testimonial .dot {
    text-align: center;
    width: 10%;
    margin: 20px auto;
    /* background-color: aqua; */
}
.testimonial .dot .m {
    width:40px;
    height:10px;
    background-color: #ff305b;
    border-radius: 4px;
    margin-right:8px;
    float:left;
 
}
.testimonial .dot .c {
    width:10px;
    height:10px;
    border-radius: 50%;
    border:1px solid #ff305b;
    float:left;
    transition: all .5s;
}
.testimonial .dot .c:hover {
background-color: #ff305b;
}

.blog {
    padding:40px;
    background-color: #eee;
}
.blog .cart {
    margin-top:100px;
}
.blog .cart .cart-item{
 width:32%;
 float:left;
 padding:2%
}
.blog .cart .cart-item .text {
    background-color: #fff;
    padding:6%
}
.blog .cart .cart-item img {
    width:100%;
    height: 250px;
}
.blog .cart .cart-item p {
 color:#555555;
 font-weight: 18px;
 line-height: 25px;
 margin-bottom: 16px;
}
.blog .cart .cart-item h3 {
    font-size: 18px;
    color:#555555;
    margin-bottom: 16px;
    transition: .3s linear all;
}
.blog .cart .cart-item a {
    color:#555555;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    transition: .3s linear all;
}
.blog .cart .cart-item i{
    color:#ff305b
}
.blog .cart .cart-item a:hover , .blog .cart .cart-item h3:hover {
  color:#ff305b
}
.contact {
    padding:40px 80px
}
.contact .main {
    margin-top:80px;
}
.contact .form {
    width:60%;
    margin: auto;
}
.form .first-line, .form .second-line , .form .third-line{
    margin-bottom: 25px;
}
.form .first-line input{
    float:left;
    width:49.6%;
    margin-right:2.4px

}
.form input , .form .third-line textarea{
    height: 40px;
    padding: 10px;
    color:#979696;
    border:1px solid #969494;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
}
.form .second-line input {
   width:100%;
}
.form input:focus  {
    border-color: #ff305b;
    box-shadow: 0.2px 0.2px 4px #ff305b;
}
.form .third-line textarea {
width:100%;
height:100px
}
.form .fourth-line button {
    padding:10px;
    background-color: #ff305b;
    color:#fff;
    outline:none;
    border:none;
    border-radius: 5px;
    font-size:16px
}

/* footer */

footer{
    padding:5%;
    text-align: center;
    background-color: #333333;
}
footer .icon i{
 font-size: 20px;
 margin-right:20px;
 color:#fff;
 transition: .3s all linear;
}
footer .icon {
    margin-bottom: 25px;
}
footer .icon i:hover {
    color: #ff305b;
}
.copyright {
    color:#fff;
    letter-spacing: 1px;
}
.copyright span {
    color:#ff305b
}

/* Media query */

@media screen and (max-width:776px){
    .header .table .center h3{
        font-size: 20px;
    }
    .header .navbar  ul{
        display: none;
    }
    .header .table .center h1 {
        font-size: 25px;
    }  
    .about {
        padding:40px;

    }
    .about .border, .about .text{
        width:100% !important;
        border:none;
        display: block !important;
    }
    .about .text {
        padding:40px 20px;
    }
    .about .info .line h3{
       display: block;
       width:100%;
       margin-bottom: 15px;
    }
    .services {
        height: auto;
    }
    .services .cart {
        width:100%;
        display: block;
    }
    .services .cart p {
        font-size: 14px;
    }
    .portfolio .parent-img .img{
        width:100%
    }
    .counter .child {
        width:100%;
        margin-bottom: 35px;
    }
    .testimonial {
        padding: 50px;
    }
    .testimonial .text {
        width:100%
    }
    .testimonial .text .img {
        width:60%;
        height: 150px;
    }
    .testimonial .text .img img {
        left:60%;
        top:40%
    }

    .testimonial .text .opinions {
        margin-left:0px
    }
    .blog .cart {
        width: 100%;
    }
    .blog .cart-item{
        width:100% !important;
        display: block;
    }
    .contact .form {
        width:100% !important
    }
    .contact .form .first-line input {
        width:100% !important;
    }
    .contact .form .first-line input:first-child {
        margin-bottom: 25px;
    }
    .copyright p {
        font-size: 14px !important;
    }
    .header .navbar .bar {
        display: block !important;
        float:right;
        z-index: 1000;
        color: #fff;
    }
    .testimonial .dot {
    text-align: center;
    width: 20%;
    margin: 20px auto;
    /* background-color: aqua; */
}
}

